    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>Aqui você encontra <strong>Notícias</strong><br>em tempo real e com <strong>confiabilidade</strong></h1>
                        <p>Faça sua parte, nos envie suas informações e fique informado</p>
                        <a href="#features" class="main-button-slider">Descubra mais</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>